################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/core/zs.nn.NoshNavigatorServices.Application/bin/Debug/net6.0
/src/core/zs.nn.NoshNavigatorServices.Application/obj
/src/core/zs.nn.NoshNavigatorServices.Domain/bin/Debug/net6.0
/src/core/zs.nn.NoshNavigatorServices.Domain/obj
/src/core/zs.nn.NoshNavigatorServices.Events/bin/Debug/net6.0
/src/core/zs.nn.NoshNavigatorServices.Events/obj
/src/infrastructure/zs.nn.NoshNavigatorServices.Infrastructure/bin/Debug/net6.0
/src/infrastructure/zs.nn.NoshNavigatorServices.Infrastructure/obj
/src/infrastructure/zs.nn.NoshNavigatorServices.Persistence.MsSql/bin/Debug/net6.0
/src/infrastructure/zs.nn.NoshNavigatorServices.Persistence.MsSql/obj
/src/presentation/zs.nn.NoshNavigatorServices.Presentation.RestApi/bin/Debug/net6.0
/src/presentation/zs.nn.NoshNavigatorServices.Presentation.RestApi/obj
/src/core/zs.nn.NoshNavigatorServices.Application/bin/Debug/netstandard2.1
/src/core/zs.nn.NoshNavigatorServices.Domain/bin/Debug/netstandard2.1
/src/core/zs.nn.NoshNavigatorServices.Events/bin/Debug/netstandard2.1
